<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west.lake.blog.dao.ArticleDao">

    <!--配置一个LRU缓存（二级缓存），每隔60秒进行刷新，存储512个对象-->
    <!--
        LRU     最近最少使用策略，移除最长时间不被使用的对象
        FIFO    先进先出策略
        SOFT    软引用策略，移除基于垃圾回收器状态和软引用规则的对象
        WEAK    弱引用策略，更积极地移除基于垃圾回收器状态和软引用规则的对象
    -->
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <cache type="com.lazyer.mybatis.cache.MybatisCacheRedis"/>

    <insert id="add" parameterType="article">
        insert
        into wlb_article(id, user, title, `desc`, content, visit_times, like_times, third_link, type, create_time,
                         last_modify_time)
        values (#{id}, #{user.id}, #{title}, #{desc}, #{content}, #{visitTimes}, #{likeTimes}, #{thirdLink}, #{type},
                #{createTime},
                #{lastModifyTime});
    </insert>

    <delete id="delete" parameterType="string">
        delete
        from wlb_article
        where id = #{id}
    </delete>

    <update id="update" parameterType="article">
        update wlb_article
        set type='11'
        where id = #{id}
    </update>

    <select id="list" resultType="article">
        select *
        from wlb_article
    </select>

    <select id="byId" parameterType="string" resultType="article">
        select *
        from wlb_article
        where id = #{id}
    </select>
</mapper>