<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west.lake.blog.dao.TagDao">

    <!--配置一个LRU缓存（二级缓存），每隔60秒进行刷新，存储512个对象-->
    <!--
        LRU     最近最少使用策略，移除最长时间不被使用的对象
        FIFO    先进先出策略
        SOFT    软引用策略，移除基于垃圾回收器状态和软引用规则的对象
        WEAK    弱引用策略，更积极地移除基于垃圾回收器状态和软引用规则的对象
    -->
    <!--<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>-->
    <cache type="com.lazyer.mybatis.cache.MybatisCacheRedis"/>


    <insert id="add" parameterType="tag">
        insert
        into west_lake_blog.wlb_tag (`id`, `tag_name`, `type`, `create_time`, `last_modify_time`)
        values (#{id}, #{tagName}, #{type}, #{createTime}, #{lastModifyTime});
    </insert>

    <insert id="addByField">
        insert into wlb_tag (id, tag_name, type, create_time, last_modify_time)
        values (#{id}, #{tagName}, #{type}, #{createTime}, #{lastModifyTime});
    </insert>

    <delete id="delete" parameterType="string">
        delete
        from west_lake_blog.wlb_tag
        where id = #{id}
    </delete>

    <update id="update" parameterType="tag">
        update west_lake_blog.wlb_tag
        set tag_name=#{tagName},
            last_modify_time=#{lastModifyTime}
        where id = #{id}
    </update>

    <select id="list" resultType="tag">
        select *
        <include refid="listSql"/>
    </select>
    <sql id="listSql">
        from west_lake_blog.wlb_tag
        <where>
            <if test="tagName!=null and tagName!=''">
                tag_name like concat('%', #{tagName}, '%')
            </if>
            <if test="type!=null">
                type=#{type}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(*)
        <include refid="listSql"/>
    </select>

    <select id="byId" parameterType="string" resultType="tag">
        select *
        from west_lake_blog.wlb_tag
        where id = #{id}
    </select>

    <select id="byNameAndType" resultType="tag">
        select *
        from wlb_tag
        where tag_name = #{tagName}
          and type = #{type}
    </select>
</mapper>